<section class="wrapper">
  <header class="header">
    <div class="navbar-wrapper">
      <nav class="navbar">
        <ul class="menu">
          <li>
            <a href="#">
              <i class="icon icon-pin"></i><span class="icon-text">LEARN MORE</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon icon-book"></i><span class="icon-text">RESOURCES</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon icon-medias"></i><span class="icon-text">VODs</span>
            </a>
          </li>
        </ul>

        <ul class="user">
          <li class="info">
            <a href="">
              <img class="user-picture" src="/assets/images/misc/mockup/ascensionfull.jpg">
              <span class="user-name">Diacred</span>
            </a>
          </li>
          <li class="notifications dropdown">
            <span class="icon-stack dropdown-button">
              <i class="icon icon-notification"></i>
              <span class="notification-count">2</span>
            </span>
            <ul class="notifications-container dropdown-menu dropdown-select">
              <li class="notification">
                ...
              </li>
              <li class="notification">
                ...
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <div class="subnav-wrapper">
      <section class="subnav">
        <h1 class="logo">
          <img src="/assets/images/logo.png">
        </h1>
        <div class="main-action">
          <button class="post-replay">Help somebody <strong style="font-size: 1em;">&hearts;</strong></button>
          <button class="post-replay">Post a Replay</button>
        </div>
      </section>
    </div>
  </header>

  <main class="container">
    <header class="replay-header">
      <h2 class="replay-title">
        <strong>Ahri</strong> vs <strong>Zed</strong> - <strong>Mid lane</strong>
      </h2>
      <h3 class="replay-result">
        Victory
      </h3>
    </header>

    <div class="content">
      <section class="replay">
        <section class="replay-player">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JKDXj7UDOpE" frameborder="0" allowfullscreen></iframe>
        </section> <!-- Section#ReplayPlayer -->

        <section class="replay-info">
          <div class="user">
            <img class="user-picture" src="/assets/images/misc/mockup/ascensionfull.jpg">
            <div class="user-info">
                 <span class="name">Gadash</span>
                 <span class="level-of-play">Gold V</span>
            </div>
          </div>

          <div class="replay-description">
            Lorem ipsum sit amet et doliris not consecrum est inpucus des...
            <span class="expand" title="Read more">
              <i class="icon icon-more"></i>
            </span>
          </div>

          <ul class="game-data">
            <li class="length">
              <i class="icon icon-time"></i> 22:51
            </li>
            <li class="kda">
              <i class="icon icon-kda"></i> 12/5/7
            </li>
            <li class="patch">
              <i class="icon icon-info"></i> 5.3
            </li>
          </ul>
        </section> <!-- Section#ReplayInfo -->

        <section class="replay-tools">
          <ul class="replay-menu">
            <li>
              <a href="#">
                <i class="icon icon-download"></i><span class="icon-text">Download LPR File</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon icon-report-green"></i><span class="icon-text">Report this replay</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon icon-edit-green"></i><span class="icon-text">Edit your replay</span>
              </a>
            </li>
          </ul>

          <button class="call-to-action post-analysis">
            <i class="icon icon-feather"></i><span class="icon-text">Post an analysis</span>
          </button>
        </section> <!-- Section#ReplayTools -->
      </section> <!-- Section#Replay -->

      <section class="analyses">
        <h3 class="analyses-title">Latest analyses</h3>

        <section class="analysis">
          <div class="analysis-info">
            <div class="user">
              <img class="user-picture" src="/assets/images/misc/mockup/spazie1.jpg">
              <div class="user-info">
                <span class="name">Diacred</span>
                <span class="level-of-play">Gold I</span>
              </div>
            </div>

            <div class="analysis-votes">
              <strong class="icon-text">10</strong> <i class="icon icon-big-thumb"></i>
            </div>

            <div class="analysis-tools">
              <span class="analysis-time">
                2 hours ago
              </span>

              <a href="#" class="analysis-report">
                <i class="icon icon-report"></i><span class="icon-text">Report</span>
              </a>
            </div>

            <div class="analysis-collapse">
              <i class="icon icon-double-arrow up"></i><span class="icon-text">Collapse this analysis</span><i class="icon icon-double-arrow up right"></i>
            </div>
          </div> <!-- Div#AnalysisInfo -->

          <div class="analysis-content">
            <div class="general-notes">
              <div class="general-notes-content">
                <h4 class="analysis-title">General Notes</h4>
                <div class="general-notes-text">
                  <p>You should have gone...
                  </p>
                  <p>
                    - You didn't ward at all.
                  </p>
                </div>
              </div> <!-- Div#GeneralNotesContent -->


              <ul class="analysis-comments">
                <li class="analysis-comment">
                  <div class="user">
                    <img class="user-picture" src="/assets/images/misc/mockup/spazie1.jpg">
                    <div class="user-info">
                      <span class="name">Gadash</span>
                      <span class="level-of-play">Gold V</span>
                    </div>
                  </div>
                  <p class="comment-content">
                    I don't think so
                  </p>

                  <div class="comment-tools">
                    <em class="time">1 hour ago</em>
                    <span class="dot-separator">.</span>

                    <div class="comment-votes">
                      <a href="#">
                        <strong class="icon-text">8</strong> <i class="icon icon-thumb active"></i>
                      </a>
                    </div>
                  </div>

                </li> <!-- Li#AnalysisComment -->

                <li class="analysis-comment">
                  <div class="user">
                    <img class="user-picture" src="/assets/images/misc/mockup/ascensionfull.jpg">
                    <div class="user-info">
                      <span class="name">Ryukku</span>
                      <span class="level-of-play">Diamond V</span>
                    </div>
                  </div>
                  <p class="comment-content">
                    I do though
                  </p>

                  <div class="comment-tools">
                    <em class="time">1 hour ago</em>
                    <span class="dot-separator">.</span>

                    <div class="comment-votes">
                      <a href="#">
                        <strong class="icon-text">8</strong> <i class="icon icon-thumb active"></i>
                      </a>
                    </div>
                  </div>

                </li> <!-- Li#AnalysisComment -->
                <li class="comment-input">
                  <img class="user-picture" src="/assets/images/misc/mockup/ascensionfull.jpg">
                  <div class="smart-area active">
                    <div class="area-field">
                      <textarea></textarea>
                      <span class="comment-submit feather">
                        <i class="icon icon-big-feather"></i>
                      </span>
                    </div>

                    <ul class="help">
                      <li>
                        <span class="icon-text help-title">Help :</span><i class="icon icon-shift-enter"></i><span class="icon-text">New line</span>
                      </li>
                      <li>
                        <i class="icon icon-enter"></i><span class="icon-text">Submit</span>
                      </li>
                      <li>
                        <i class="icon icon-info-blue"></i><span class="icon-text">Formatting help</span>
                      </li>
                    </ul>
                  </div> <!-- Div#CommentArea -->
                </li> <!-- Li#CommentInput -->

              </ul> <!-- Ul#AnalysisComments -->
            </div> <!-- Div#GeneralNotes -->

            <div class="timeline-entries">
              <div class="timeline-entry">
                <div class="time-block">
                  <strong class="time-text">at</strong><strong class="time">02:55</strong>
                </div>
                <div class="entry-container">
                  <div class="entry-content">
                    You should have gone south.
                  </div>

                  <ul class="analysis-comments">
                    <li class="comment-input">
                      <img class="user-picture" src="/assets/images/misc/mockup/ascensionfull.jpg">
                      <div class="comment-area">
                        <div class="comment-field">
                          <textarea></textarea>
                          <span class="comment-submit feather">
                            <i class="icon icon-big-feather"></i>
                          </span>
                        </div>
                      </div> <!-- Div#CommentArea -->
                    </li> <!-- Li#CommentInput -->

                  </ul> <!-- Ul#AnalysisComments -->

                </div>
              </div> <!-- Div#TimelineEntry -->
            </div> <!-- Div#TimelineEntries -->
          </div> <!-- Div#AnalysisContent -->

        </section> <!-- Section#Analysis -->

      </section> <!-- Section#Analyses -->
    </div>
  </main>

</section>


<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <ul>
    <li><a href="javascript:void(0)">About</a></li>
    <li><a href="javascript:void(0)">Contact</a></li>
    <li><a href="javascript:void(0)">Products</a></li>
  </ul>

  <div class="footer-secondary-links">
    <ul>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>

    <ul class="footer-social">
      <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
        </a></li>
      <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
      <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
    </ul>
  </div>
</footer>
